<div class="container ">
   
<h6 style="margin-top: 80px;">
    Property Type
</h6>

<form action="/action_page.php">
    <div>
    <input type="checkbox"  name="apartment" value="apar">
    <label for="apartment">Apartment</label>
</div>
    <div style="margin-top: 10px;">
    <input type="checkbox" name="independent" value="indep">
    <label for="independent">Independent House/Villa</label></div>
    <div style="margin-top: 10px;">
    <input type="checkbox" name="villa" value="gated">
    <label for="villa">Gated Community Villa</label></div>
    
</form>
<h6 style="margin-top: 10px;">BHK Type</h6>
<button type="button" class="btn btn-outline-default">1RK</button>
<button type="button" class="btn btn-outline-default">1BHK</button>
<button type="button" class="btn btn-outline-default">2BHK</button>
<button type="button" class="btn btn-outline-default">3BHK</button>
<div>
<button type="button" class="btn btn-outline-default">4BHK</button>
<button type="button" class="btn btn-outline-default">4+ BHK</button>
</div>
<div>
<h6>Preferred Tenants</h6>
<form action="/action_page.php">
    <div class="spacer">
    <input type="checkbox"  name="family" value="apar">
    <label for="family"> Family</label>
    

    
    <input type="checkbox" name="independent" value="indep">
    <label for="bachelor"> Bachelor</label>
  
    <input type="checkbox" name="company" value="gated">
    <label for="company"> Company</label></div>
</form>



</div>

<div style="margin-top: 10px;">
    <h6>Furnishing</h6>
    <form action="/action_page.php">
        <div class="spacer">
        <input type="checkbox"  name="full" value="ful">
        <label for="full"> Full</label>
    
        
        <input type="checkbox" name="semi" value="sem">
        <label for="semi"> Semi</label>
      
        <input type="checkbox" name="company" value="com">
        <label for="none">None</label></div>
        
    </form>

</div>
</div>

 