<nav class="navbar navbar-expand navbar-dark bg-company-blue sticky-top" style="background-color: cadetblue;">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" routerLink="">
            <img src="https://tse3.mm.bing.net/th/id/OIP.9JiMFciLWANvUAXjt8cU7QHaFP?pid=ImgDet&rs=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
            <b class='ms-2'>FindMyHome</b>
        </a>
    </div>
    <div>
        <span>
            <a class="navbar-brand text-dark" routerLink="login">
                <img src="https://tse1.mm.bing.net/th/id/OIP.XKdZgJT9MaVBqYDg-5JlvgAAAA?pid=ImgDet&rs=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
                <b class='ms-2'>Admin</b>
            </a>
        </span>
    </div>
    <div>
        <span>
            <a class="navbar-brand text-dark" routerLink="login">
                <img src="https://tse4.mm.bing.net/th/id/OIP.ORMHtsTcF2sJ_FMXVFiQKAHaHa?pid=ImgDet&rs=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
                <b class='ms-2'>User</b>
            </a>
        </span>
    </div>
    <div>
        <span>
            <a class="navbar-brand text-dark" routerLink="SignIn">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6478-200.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
                <b class='ms-2'>SignUp</b>
            </a>
        </span>
    </div>
    <div>
    <span><button (click)="confirmBox()"  class='btn btn-success text-light me-2'>Logout</button></span>
    </div>
</nav>
    
        
    
