<table  class="table">
    <tbody>
        <td>
            <div class="text-center" style="margin-left: 30px;">
                <img src="assets\images\avoid brokers.png" style="margin-left: 30px;" alt="not found">
                <h4 style="margin-left: 10px;">Avoid Brokers</h4>
                <h6 style="margin-left: 1px;">We directly connect to you</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\freelisting.png" style="margin-left: 30px;" alt="not found">
                <h4>Free listing</h4>
                <h6 style="margin-left: -10px;">Easy Listing process</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\shortlist.png"  style="margin-left: 10px;" alt="not found">
                <h4>Shortlist with Visit</h4>
                <h6>Extensive Information makes it Easy</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\agreement.png " style="margin-left: 30px;"  alt="not found">
                <h4>Rental Agreement</h4>

                <h6>Assistance in creating </h6>
                


            </div>
        </td>
    </tbody>

</table>
<h4 style="text-align: center;" id="a">MyHome Business Assist Plan For Builders</h4>
<table class="table">
    <tbody>
        <td>
            <div class="text-align:margin-left" style="margin-left: 100px;" >
                <img src="assets\images\download.png"  alt="not found">
                
            </div>
        </td>
        <td>
            <div class="text-align:margin-right">
                <!-- <img src="assets\images\download.png"  alt="not found"> -->
                <h5>Get in touch with us to Sell or Rent Your Projects</h5>

                <div class="spacer">
                <button class="btn btn-danger" type="submit" style="margin-top: 10px;">Enquire Now</button>
            </div>
                <h6>For Builder-Enquires:+91 7259311928</h6>
               
                
            </div>
        </td>

    </tbody>
</table>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<div class="container-fluid" style="background-color:grey;">
<iframe  width="560" style="text-align: center;margin-left: 100px;margin-top: 100px;" height="315" src="https://youtube.com/embed/0ChlgxhXVws" frameborder="0" allowfullscreen></iframe>
<div class="testimonals">
    <div class="inner">
        <h1>Testimonals</h1>
        <div class="border"></div>
        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <img src="assets\images\download.png" alt="">
                    <div class="name">Chandan H R</div>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>"Excellent service and an equally involved team.Highly recommended app"</p>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <img src="assets\images\download.png" alt="">
                    <div class="name">Goutham Raj</div>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                        
                         
                    </div>
                    <p>"Properties are available at good rates and I am a happy customer"</p>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <img src="assets\images\download.png" alt="">
                    <div class="name">Sanjan Shetty</div>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        
                    </div>
                    <p>"Facility given to customers are upto mark and we are happy with the service provided"</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  
  
  
  
  
  

