<table  class="table">
    <tbody>
        <td>
            <div class="text-center" style="margin-left: 30px;">
                <img src="assets\images\avoid brokers.png" style="margin-left: 30px;" alt="not found">
                <h4 style="margin-left: 10px;">Avoid Brokers</h4>
                <h6 style="margin-left: 1px;">We directly connect to you</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\freelisting.png" style="margin-left: 30px;" alt="not found">
                <h4>Free listing</h4>
                <h6 style="margin-left: -10px;">Easy Listing process</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\shortlist.png"  style="margin-left: 10px;" alt="not found">
                <h4>Shortlist with Visit</h4>
                <h6>Extensive Information makes it Easy</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
                <img src="assets\images\agreement.png " style="margin-left: 30px;"  alt="not found">
                <h4>Rental Agreement</h4>

                <h6>Assistance in creating </h6>
                


            </div>
        </td>
    </tbody>

</table>

